@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

body {
    background-color: #e9ecef;
    font-family: 'Open Sans', sans-serif;
}

header {
    font-family: 'Inter', sans-serif;
}
.header-primary {
    background-color: #053575;
}
.header-primary .nav {
    padding: 1rem;
}
.header-primary .nav a{
    color: #fff;
    text-decoration: none;
}
.header-secondary {
    background-color: #063f8c;
}
.header-secondary .header-container .market-data{
    display: flex;
    justify-content: center;
    color: #fff;
}
.header-secondary .header-container .market-data .market-data-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
.header-secondary .header-container .market-data .market-data-item .name {
    color: #b1d1fc;
    font-size: 1rem;
}
.header-secondary .header-container .market-data .market-data-item .value {
    font-size: 1.4rem;
}
@media (max-width: 400px ) {
    .header-secondary .header-container .market-data .market-data-item .value {
        font-size: 1rem;
    }
    .content-wrapper .kur-hesap .content {
        font-size: 1rem!important;
    }
}

.content-wrapper .kur-hesap{
    background-color: #fff;
    height: 65vh;
    box-shadow: 0 2px 4px rgb(0 0 20 / 8%), 0 1px 2px rgb(0 0 20 / 8%);
    margin: 1rem;
    border-radius: .5rem;
    padding: 1rem;
}
.content-wrapper .kur-hesap .title {
    text-align: center;
    background-color: #063f8c;
    color: #b1d1fc;
    font-weight: bold;
    padding: 1rem 0;
    border-radius: .3rem;
}
.content-wrapper .kur-hesap .title h3{
    padding: .3rem 1rem;
    font-size: 1.3rem;
    color: #fff;
}
.content-wrapper .kur-hesap .content {
    font-size: 1.3rem;
    padding: 1.3rem;
}
.content-wrapper .kur-hesap .content .content-item {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
.content-wrapper .kur-hesap .content .content-item input {
    flex: 1;
    padding: .5rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #063f8c;
    margin: 0 .5rem;
}
.content-wrapper .kur-hesap .content .content-item select {
    flex: 1;
    padding: .5rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #063f8c;
    margin-left: .5rem;
}
.content-wrapper .kur-hesap .content .sonuc {
    text-align: center;
}

footer {
    margin-top: 3rem;
    background-color:  #053575;
    color: #fff;
    display: flex;
    align-items: center;
}
footer h2 {
    padding: 1rem;
}
footer a {
    color: #b1d1fc;
    font-weight: bold;
}